
@model  IEnumerable<Roller.Models.Customer>



@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@*@{
        var className = Model.Customers.Count > 1 ? "Popular" : null;

    }*@

<h1>Customers</h1>

@if (!Model.Any())
{
<text>We do not have any movies yet. </text>

}

else
{


<h2>Movies</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customers</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@Html.ActionLink(customer.Name, "Details", "Customer", new { id = customer.Id }, null)</td>
            </tr>
        }
    </tbody>
</table>





}